/* Need to be implemented */
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url('../images/bg.jpg') rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0px 20px 10px 10px;
  width: 400px;
  min-height: 300px;
  max-height: 600px;
  background: white;
  border-radius: 5px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
h2 {
  text-align: center;
  margin-bottom: 5px;
}
p {
  margin: 0px;
  text-align: center;
}
.add-items-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.btn {
  color: #fc999b;
  border: 0px;
  border-radius: 15px;
  margin-top: 2px;
  padding: 2px 15px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: background 0.8s;
}
.btn:hover {
  background: #f8b7b8 radial-gradient(circle, transparent 1%, #f8b7b8 1%)
    center/15000%;
}
.btn:active {
  background-color: #fc999b;
  background-size: 100%;
  transition: background 0s;
}
.btn-checked {
  border: 1px solid #fc999b;
  background-color: #f8b7b8;
  color: #ffffff;
}
.add-input {
  width: 240px;
  margin-right: 10px;
  border: 0px;
  border-bottom: 2px solid #000000;
  outline: none;
  font-size: 15px;
  padding-left: 5px;
}
.items-container {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  max-height: 280px;
  overflow: scroll;
  min-height: 150px;
}
ol {
  margin-top: 0px;
}
ol li {
  padding: 5px 0px 5px 2px;
  position: relative;
}
ol li span {
  margin-left: 5px;
}
ol li:nth-child(even) {
  background: #f4ecec;
}
input[type='checkbox'] {
  transform: scale(1.2);
}
.completed {
  color: #999;
  text-decoration: line-through;
}
.deleteBtn {
  background: url('../images/delete.png');
  height: 16px;
  width: 16px;
  border: 0px;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  display: none;
}
ol li:hover .deleteBtn {
  display: inline-block;
}
.btnContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.btn-margin {
  margin-left: 15px;
}
  